.header {
  height: 4.4rem;
  background: #f4ba19;
}
.header .location {
  float: left;
  width: 7rem;
}
.header .location span {
  position: relative;
  display: block;
  height: 4.4rem;
  font-size: 1.8rem;
  line-height: 4.4rem;
  padding-left: 2.9rem;
}
.header .location span:before {
  position: absolute;
  left: 1.1rem;
  top: 1.2rem;
  content: "";
  width: 1.5rem;
  height: 2rem;
  background: url(../img/location.png) no-repeat;
  background-size: 100% 100%;
}
.header .search {
  float: left;
  width: 23.5rem;
  height: 3rem;
  margin-top: 0.7rem;
  background: url(../img/pd-bg1.png) no-repeat;
  background-size: 100%;
}
.header .search i {
  position: relative;
  float: left;
  width: 3.7rem;
  height: 3rem;
}
.header .search i:before {
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  content: "";
  width: 2.05rem;
  height: 2.05rem;
  background: url(../img/search.png) no-repeat;
  background-size: 100%;
}
.header .search input {
  float: left;
  width: 16.5rem;
  height: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #999;
  background: none;
  border: none;
}
.header .search span {
  position: relative;
  float: left;
}
.header .search span:before {
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  content: "";
  width: 2.05rem;
  height: 2rem;
  background: url(../img/sweep.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.header .msg {
  float: left;
  width: 7rem;
  height: 4.4rem;
}
.header .msg span {
  position: relative;
  display: block;
}
.header .msg span:before {
  position: absolute;
  top: 1.2rem;
  left: 2.3rem;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/msg.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
}
