.pro-search{
    width: 100%;
    height: auto;
    padding-top: 4.4rem;
    overflow: hidden;
    .ps-content{
        width: 100%;
        height: 62.3rem;
        overflow-x: hidden;
        
    }
}